<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<thead>
<tr>USER INFO</tr>
</thead>
<table>
    <table>
        <tr>
            <th>Username</th>
            <th>Surname</th>
            <th>Password</th>
            <th>Age</th>
            <th>ROLE</th>
        </tr>
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td>
                <table>
                    <tr th:each="role : ${user.getRoles()}">
                        <td th:text="${role.getName()}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </tbody>
</table>

<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>